<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>899612024196-2ffj0spqgg28git2qra0irj0t83efb9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899612024196-2ffj0spqgg28git2qra0irj0t83efb9q</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Vh1QvSJb6RbGcETEZIGpYBKLw0-ghkA</string>
	<key>GCM_SENDER_ID</key>
	<string>899612024196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Z.TARTUTOR</string>
	<key>PROJECT_ID</key>
	<string>project-5346656113217579903</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5346656113217579903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:899612024196:ios:e11e951a6910939e</string>
	<key>DATABASE_URL</key>
	<string>https://taruibe.firebaseio.com</string>
</dict>
</plist>